<html>
    <head>
    </head>
    <body>
        <form method="post" action="/logIn">
            <input type="text" name="username" placeholder="username"/>
            <input type="password" name="password" placeholder="password"/>
            <button type="submit">Log in {{logInCount}}</button> 
        </form>
        <a href="/signUp">Sign Up</a>
    </body>
</html>