<html>
    <head>
    </head>
    <body>
        <form method="post" action="/signUp">
            <input type="text" name="username" placeholder="username"/>
            <input type="password" name="password" placeholder="password"/>
            <button type="submit">Sign Up {{signUpCount}}</button> 
        </form>
    </body>
</html>